{% extends 'core/base.html' %}

{% block title %}Password reset submitted | {% endblock title %}

{% block content %}
    <section class="hero is-medium is-light is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Password reset submitted</h1>
                <h2 class="subtitle">If an account that matches the e-mail address you entered exists, you'll receive an email with the password reset instructions.</h2>
            </div>
        </div>
    </section>
{% endblock content %}