{% extends 'core/base.html' %}

{% block title %}New password | {% endblock title %}

{% block content %}

    {% if validlink %}
        <section class="hero is-medium is-light is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">New password</h1>
                    <h2 class="subtitle">Enter a new password.</h2>
                </div>
            </div>
        </section>

        <div class="columns" id="new-password-app">
            <div class="column is-6 is-offset-3">
                <form method="POST" action="." class="mt-6" v-on:submit="validateForm" novalidate>
                    {% csrf_token %}

                    {% if form.errors %}
                        <div class="notification is-danger">
                            {{ form.non_field_errors }}

                            {% for field in form %}
                                {% if field.errors %}{{ field.label }}: {{ field.errors }}{% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="notification is-danger" v-if="errors.length">
                        <p v-for="error in errors">
                            [[ error ]]
                        </p>
                    </div>

                    <div class="field">
                        <label>Password</label>
                        <div class="control">
                            <input type="password" name="new_password1" id="id_new_password1" class="input" v-model="new_password1">
                        </div>
                    </div>
                    <!-- ### -->
                    <div class="field">
                        <label>Confirm password</label>
                        <div class="control">
                            <input type="password" name="new_password2" id="id_new_password2" class="input" v-model="new_password2">
                        </div>
                    </div>

                    <ul class="password-help-text">
                        <li v-if="new_password1.length < 8">Your password must contain at-least 8 characters.</li>
                        <li v-if="!isNaN(new_password1)">Your password can't be entirely numeric.</li>
                    </ul>

                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    {% else %}

        <section class="hero is-medium is-light is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Link invalid</h1>
                    <h2 class="subtitle">Your password reset link is invalid. Please try again.</h2>
                </div>
            </div>
        </section>

    {% endif %}

{% endblock content %}

{% block scripts %}
    <script>
        const NewPasswordApp = {
            data() {
                return {
                    new_password1: '',
                    new_password2: '',
                    errors: []
                }
            },
            delimiters: ['[[', ']]'],
            methods: {
                validateForm(e) {
                    this.errors = []
                    
                    if (this.new_password1 === '') {
                        this.errors.push('Please enter a valid password.')
                    }
                    if (this.new_password1.length < 8) {
                        this.errors.push('Your password must contain at-least 8 characters.')
                    }
                    if (!isNaN(this.new_password1)) {
                        this.errors.push('Your password can\'t be entirely numeric.')
                    }
                    if (this.new_password1 !== this.new_password2) {
                        this.errors.push('Your passwords do not match.')
                    }
                    if (this.errors.length) {
                        e.preventDefault()
                        return false
                    } else {
                        return true
                    }
                }
            }
        }

        Vue.createApp(NewPasswordApp).mount('#new-password-app')
    </script>
{% endblock scripts %}